<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload a file</title>
</head>
<body>
    <p>
        Welcome to Social distancing detection module
    </p>
    <p>
        Before going futher,please upload a file on which you wnat to do detection
    </p>
    <p>
        <form action="/uploader" method="post" enctype="multipart/form-data">
            <input type="file" name="file1">
            <button type="submit">Upload</button>
        </form>
    </p>
</body>
</html>