
<html>

  <head>
    <meta charset="UTF-8">
    <title>Video Surveillance</title>
    <link rel="stylesheet" type="text/css " href="static/social.css">
  </head>

  <body>

    <div class="title">
        <h1>Social Distancing Detection</h1>
    </div>
    <div class="footer">
            <h1>Stay safe  Stay home!</h1>
        </div>
 <div class="mycam">
      <img id="video" src="static/safe.png">
    </div>

    <div >
      <button id ="start" onclick="start()">start</button>

      <button id ="stop" onclick="stop()">stop</button>
    </div>


    <script>
      function stop(){
        var imag=document.getElementById('video');
        imag.src="static/safe.png";

      }
      function start(){
        var imag=document.getElementById('video');
        imag.src="{{ url_for('videofootage_feed') }}";

      }
    </script>
  </body>
